*{
    margin: 0;
    pading: 0;
}
.game-board {
    height: 863px;
    width: 1024px;
    background: url("images/board.jpg") no-repeat;
    margin: auto;
}
.game-board h1 {
    color: lime;
    padding: 10px;
}